<?xml version="1.0"?>
<model>
  <name>Cave Corner 01</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Corner tile for cave environment.
  </description>
<depend><model><uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/Cave Straight Type A</uri></model></depend></model>
